@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@400;500;600;700&display=swap');
/* header-main */
#header-main {
    background-color: #151515;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 70px;
}
#logo-container {
    display: flex;
    user-select: none;
    gap: 10px;
}
#header-main h1 {
    color: #FFFFFF;
}
#header-main iconify-icon {
    color: #FFFFFF;
    font-size: 45px;
    align-self: center;
}
/* ----------- */
/* buttons */
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    width: 50%;
    gap: 30px;
}
.custom-btn {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    padding: 15px;
    cursor: pointer;
    gap: 15px;
    transition: 0.4s;
    min-width: 200px;
    font-weight: 700;
    border: 1px solid transparent;
}
.custom-btn span {
    font-size: 24px;
    color: #F9F9F9;
    transition: inherit;
}
.custom-btn iconify-icon {
    font-size: 50px;
    border-radius: 10px;
    color: #FFFFFF;
    transition: inherit;
}
/* ----------- */
/* footer-main */
#footer-main {
    padding: 13px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #ECECEC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    user-select: none;
}
#footer-main h4 {
    color: #C1C1C1;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}
/* ----------- */
@media (max-width: 360px) {
    #header-main h1 {
        font-size: 20px;
    }
    #header-main iconify-icon {
        font-size: 40px;
    }
    .custom-btn {
        padding: 7.75px;
        min-width: 150px;
    }
    .custom-btn span {
        font-size: 18px;
    }
    .custom-btn iconify-icon {
        font-size: 37.5px;
    }  
    #footer-main {
        padding: 7px;
        padding-left: 20px;
        padding-right: 20px;
    }
    #footer-main h4 {
        font-size: 12px;
    }
}